/* -----------------------------------
Template:  Theme Name

NOTE: This is About style file. All About related style included in this file.

--------------------------------------*/
.about-area {
  border-bottom: 1px solid #e5e5e5;
}
.section-title {
  margin-bottom: 60px;
}
.section-title.text-center > h2 {
  font-size: 34px;
  margin-bottom: 30px;
  font-weight:700;
}
.section-title span {
  display: block;
  font-size: 17px;
  font-weight: 600;
  padding: 0 250px;
  text-align: center;
}
.about-area .col-lg-4{
  border-right: 1px solid #e5e5e5;
}
.about-area .col-lg-4:nth-child(3) {
    border: medium none;
}
.single-about {
  padding-bottom: 40px;
}
.about-icon {
    margin-bottom: 10px;
}
.about-text > span {
  color: #ff4157;
  font-family: "Dancing Script",cursive;
  font-size: 18px;
  font-weight: 700;
}
.about-text h4 {
  font-weight: 700;
  margin-bottom:15px;
}
.about-text > p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom:0;
}

.how-find-right > h2 {
	color: #ff4157;
	font-size: 34px;
	font-weight: 700;
	margin-bottom: 15px;
	font-family: 'Dancing Script', cursive;	  
}
.how-find-right h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}
.how-find-right > p {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 40px;
  color:#282d33;
}
.find-brand > h4 {
  font-weight: 700;
  margin-bottom: 20px;
}
.find-brand > p {
  color: #000000;
  font-size: 15px;
  line-height: 24px;
}