/* -----------------------------------
Template:  Theme Name

NOTE: This is Apply style file. All About related style included in this file.

--------------------------------------*/
.apply-area {
  background: #59c4bf;
  background: -webkit-linear-gradient(to right bottom, #eee92e, #59c4bf);
  background:    -moz-linear-gradient(to right bottom, #eee92e, #59c4bf);
  background:         linear-gradient(to right bottom, #eee92e, #59c4bf);
  padding-top: 150px;
  padding-bottom: 150px;
}

.large-section-title.text-center > h2 {
  font-size: 160px;
  margin-bottom: 30px;
  font-weight:700;
}

@media screen and (max-width: 850px) {
    .large-section-title.text-center > h2 {
        font-size: 50px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1200px) {
    .large-section-title.text-center > h2 {
        font-size: 90px;
    }
}

.section-title.text-center > h3 {
  color: white;
  font-size: 25px;
  margin-top: -30px;
  margin-bottom: 30px;
  font-weight:400;
  font-family: 'Catamaran', sans-serif;
}

.apply-button > a {
  text-decoration: none;
  color: #fff;
  padding: 15px 20px 15px 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background-color: #282d33;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 850px) {
    .apply-button > a{
        font-size: 18px;
    }
}

.apply-button a:hover{
  color: #fff;
  opacity: 1;
}
