/* -----------------------------------
Template:  Theme Name

NOTE: This is Portfolio style file. All Portfolio related style included in this file.

--------------------------------------*/
.portfolio-area .section-title {
  margin-bottom: 50px;
}
.portfolio-grid.fix {
  padding: 5px;
}
h3.head-style{
	color:#FF4157;
}
.single-portfolio {
  float: left;
  padding-left: 5px;
  width: 25%;
  margin-top:10px;
  padding-right:5px;
}
.portfolio-image > img {width: 100%;}
.portfolio-image{position: relative}
.portfolio-image:before{
	background:#000;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}
.grid-item:hover .portfolio-image:before{
opacity: .5;}

.portfolio-style{position: relative}
.portfolio-hover {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.portfolio-icon {
    display: inline-block;
    height: 21px;
    left: 10%;
    line-height: 0;
    margin: auto;
    position: absolute;
    top: 55%;
    width: 21px;
    margin-top: -20.5px;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s
}
.grid-item:hover .portfolio-icon{
    margin-top: -10.5px; 
    opacity: 1; 
}
.portfolio-text {
    bottom: -5px;
    opacity: 0;
    padding-left: 27px;
    position: absolute;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.grid-item:hover .portfolio-text{
    bottom: 10px; 
    opacity: 1; 
}

.portfolio-text > h3 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px;
}
.portfolio-text > p {
    color: #ffffff;
    font-size: 15px;
}
