/* -----------------------------------
Template:  Theme Name

NOTE: This is Price style file. All Price related style included in this file.

--------------------------------------*/
.single-price{
  padding:80px 0;
  text-align:center;
  transition:all .4s;
}
.single-price.active, .single-price:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.price-head {
  margin-bottom: 30px;
  margin-top: 50px;
}
.price-head > h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 5px;
}
.price-head > span {
  color: ##eeea2e;
  font-size: 24px;
  font-weight: 700;
}
.price-text li {
  color: #282d33;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
a.price-btn {
  border: 1px solid ##eeea2e;
  border-radius: 4px;
  color: ##eeea2e;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  margin-top: 10px;
  padding: 8px 30px;
  text-transform: uppercase;
}
a.price-btn:hover{
	background:##eeea2e;
	color:#fff;
}
.single-price:hover a.price-btn{
	background:##eeea2e;
	color:#fff;
}
a.price-btn.active{
	background:##eeea2e;
	color:#fff;
}
.price-text ul li img {
  margin-right: 5px;
}
.price-text ul li {
  padding-left: 85px;
  text-align: left;
}
