/*

Template:
Author:
Version: 1
Design and Developed by:

Note: This is Short code style file. All Short code related style included in this file.

*/

@import url("default.css");
@import url("header.css");
@import url("slider.css");
@import url("about.css");
@import url("service.css");
@import url("skill.css");
@import url("portfolio.css");
@import url("price.css");
@import url("video.css");
@import url("team.css");
@import url("blog.css");
@import url("testimonial.css");
@import url("footer.css");
@import url("apply.css");
@import url("applyinfo.css");
