/* -----------------------------------
Template:  Theme Name

NOTE: This is Skill style file. All Skill related style included in this file.

--------------------------------------*/
.about-skill-text > p {
  color: #424242;
  font-size: 16px;
}
.left-anim {
    animation: animate-positive 2s;
    opacity: 1;
}
@keyframes animate-positive {
    0% {
        width: 0%;
    }
}
.progressbar-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.progress {
  background-color: #dbdbdb;
  border: 1px solid #ff4157;
  border-radius: 10px;
  box-shadow: none;
  height: 13px;
  margin-bottom: 0;
  margin-top: 10px;
  overflow: visible;
}
.progress-bar span {
  background: #ff4157 none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  font-size: 9px;
  font-weight: 400;
  height: 25px;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  right: -18px;
  text-align: center;
  top: -34px;
  width: 25px;
}
.progress-bar span:before{
	
} 
.progress-bar {
  background-color: #ff4157;
  position: relative;
  border-radius: 10px;
}
.skills-progress {
  margin-bottom: 50px;
}
.skills-progress:last-child {
  margin-bottom: 0;
}
.progress-bar span::before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #ff4157;
  bottom: -5px;
  content: "";
  height: 0;
  left: 7px;
  position: absolute;
  text-align: center;
  width: 0;
}
