/* -----------------------------------
Template:  Theme Name

NOTE: This is Testimonial style file. All Testimonial related style included in this file.

--------------------------------------*/
.testimonial-area{
	position:relative;
}
.testimonial-area::before {
  background: rgba(0, 0, 0, 0) linear-gradient(180deg, #00d4c3 50%, #eeea2e 70%) repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.test-client-title > h3 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 15px;
    text-transform: capitalize;
}
.test-client-title > span {
    color: #ffffff;
    font-size: 17px;
    text-transform: capitalize;
}

.test-box {
  margin-top: 30px;
  padding: 40px;
  position:relative;
}
.test-box h3 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 15px;
}
.test-box > p {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  margin-bottom:0;
}

.test-box::after {
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  position: absolute;
  right: 20px;
  text-align: center;
  top: -10px;
  width: 0;
}.test-box.test-box-border::after {
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  position: absolute;
  left: 20px;
  text-align: center;
  top: -10px;
  width: 0;
}
.testimonial-area.dotted-style-1 .owl-carousel .owl-controls .owl-dot.active {
  background: #ffffff none repeat scroll 0 0;
  height: 14px;
  margin: 0 4px;
  width: 14px;
}
.testimonial-area.dotted-style-1 .owl-carousel .owl-controls .owl-dot {
  background: #f2c9cd none repeat scroll 0 0;
}

/* home-2 */
