.winner {
    position: relative;
    padding: 0 !important;
    margin-bottom: 30px;
    /* width: 100%; */
}

.winner-pic {
    width: 100%
}

.winner-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
    transition: .5s ease;
    background-color: #eeea2e;
}

.winner:hover .winner-hover {
    opacity: 0.5;
}

.person-name {
    opacity: 1 !important;
    color: black;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Modal style */

.modalBody {
    margin: 8% 16% !important;
}

.modal-content {
    width: 202%;
}

.winner-data {
    margin-top: 26px;
    display: block;
    font-size: 17px;
    font-weight: 600;
}

.winner-presentation {
    padding-top: 15px;
    font-size: 16px
}

@media (max-width: 2014px ) {
    .modal-content {
        width: 190%;
    } 
    .modalBody {
        margin: 8% 14% !important;
    } 
}

@media (max-width: 1850px ) {
    .modal-content {
        width: 170%;
    } 
    .modalBody {
        margin: 8% 12% !important;
    } 
}

@media (max-width: 1650px ) {
    .modal-content {
        width: 150%;
    }
    .modalBody {
        margin: 8% 10% !important;
    }  
}

@media (max-width: 1450px ) {
    .modal-content {
        width: 130%;
    } 
    .modalBody {
        margin: 8% 8% !important;
    } 
}

@media (max-width: 1050px ) {
    .modal-content {
        width: 100%;
    }  
    .modalBody {
        margin: 4% 4% !important;
    }
}